doctype
html
  head
    title Test Project
  body
    h1 First Heading
    img(src='img/test.jpg')
    h2= sentinel
    a(href='nested/inner/index.html') Inner link
    a(href='https://www.baresoil.com/') External link
