include ./partials/mixins.pug

doctype
html
  head
    title Test Project
  body
    h1 About Page
    img(src='../img/test.jpg')
    h2= sentinel
    a(href='../../index.html') Home
    span &nbsp;&middot;&nbsp;
    a(href='https://www.baresoil.com/') External link
    +MixinSentinel()
